#slides
  ul.slides-container
    for slide, slug in public.work.intro._data
      li(class="gradient #{ slide.bg }")
        .slide-container
          .container
            .col-sm-6
              h2= slide.title
              h3= slide.description
              a(href="#work", class="slides-button")
                button.btn.btn-default Learn more
            .col-sm-6
              i.macbook
  nav.slides-navigation
    a.next(href='#') Next
    a.prev(href='#') Previous
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(src='/js/jquery.easing.1.3.js')
script(src='/js/jquery.animate-enhanced.min.js')
script(src='/js/jquery.superslides.min.js')
script.
  $('#slides').superslides({
  animation: 'fade'
  });

#work
h2.text-center Projects We've worked on
.content-bottom
  for post, slug in public.work._data
    .work(class="#{ slug }")
      a(href="/work/#{ slug }.html")
        .container
          .col-sm-6
            h1= post.title
            em #{post.date}
            p= post.description
          .col-sm-6
            