//- meta
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='description', content=description)

//- title
title= locals.title ? title + " / " + site_title : site_title

//- CSS
link(rel="stylesheet", href='/css/main.css') 

//-  Facebook
meta(property='og:title', content=locals.title ? title + " | " + site_title : site_title)
meta(property='og:type', content='website')
meta(property='og:description', content=description)
meta(property='og:url', content=site_url)
meta(property='og:image', content=site_url + logo)
meta(property='og:site_name', content=site_title)

//- Twitter
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content="@" + site_twitter)
meta(name='twitter:title', content=locals.title ? title + " | " + site_title : site_title)
meta(name='twitter:description', content=description)
meta(name='twitter:image', content=site_url + logo)
meta(name='twitter:creator', content="@ajmalafif")
  
//- G+
link(rel='author', href='https://plus.google.com/u/0/106807169809620758676/posts')

//- Misc
link(rel='shortcut icon', href='assets/favicon.ico')
link(rel='alternate', type='application/rss+xml', title=site_title + " | " + "RSS Feed", href='/blog/rss.xml')
